button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover {
    background-color: #11519a;
    color: #fff; }
  button:focus, [type='button']:focus, [type='reset']:focus, [type='submit']:focus {
    outline: 3px solid rgba(21, 101, 192, 0.6);
    outline-offset: 2px; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(21, 101, 192, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 3px solid rgba(21, 101, 192, 0.6);
  outline-offset: 2px; }

html {
  background-color: #fff;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

body {
  margin: 0; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 1.5em 0;
  table-layout: fixed;
  text-align: left;
  width: 100%; }

thead {
  line-height: 1.2;
  vertical-align: bottom; }

tbody {
  vertical-align: top; }

tr {
  border-bottom: 1px solid #ddd; }

th {
  font-weight: 600; }

th,
td {
  padding: 0.75em 0.75em 0.75em 0; }

html {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 100%;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration-skip: ink;
  transition: color 150ms ease; }
  a:hover {
    color: #104c90; }
  a:focus {
    outline: 3px solid rgba(21, 101, 192, 0.6);
    outline-offset: 2px; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

.full-page {
  height: 100%;
  width: 100%;
  display: flex; }

#header {
  font-family: "Oswald", sans-serif; }

#iniciador {
  flex-direction: column;
  color: white;
  margin-top: 20px;
  height: 40px;
  font-size: 1.5em;
  padding: 30px;
  transition: 0.5s all; }

body {
  font-family: "Quicksand", sans-serif; }

#iniciador:hover {
  opacity: 0.5;
  cursor: pointer;
  margin-bottom: -30px; }

#header {
  background-image: url("../img/header2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 50%; }

.mask {
  background: rgba(237, 23, 75, 0.8);
  position: absolute;
  padding: 40px; }

#regresador {
  background: #40c4e0;
  height: 40px;
  width: 40px;
  position: fixed;
  transition: 0.5s all;
  right: 30px;
  bottom: -100px;
  background-image: url(../img/flecha-arriba.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer; }

#regresador:hover {
  margin-bottom: 20px; }

.center-horizontal {
  display: flex;
  overflow: hidden;
  justify-content: center; }

#logo {
  height: 40%;
  width: auto;
  min-height: 150px;
  margin: 20px;
  display: flex; }

.center-vertical {
  display: flex;
  overflow: hidden;
  align-items: center; }

.box {
  border-color: white;
  border-width: 5px;
  width: 80%;
  margin: 20px;
  overflow: hidden;
  height: 30%;
  border-style: solid;
  color: white; }

#headermask {
  flex-direction: column; }

#box-text {
  font-size: 72px;
  margin: 0;
  font-weight: 700; }

#box-text3 {
  font-size: 72px;
  margin: 0;
  font-weight: 700; }

#box-text2 {
  font-size: 72px;
  color: #40c4e0;
  font-weight: 700;
  margin: 0; }

#content_1 {
  flex-direction: column;
  align-items: flex-end; }

.container-box1 {
  height: 100%;
  width: 100%;
  position: relative; }

.container-box2 {
  height: 100%;
  width: 100%;
  opacity: 0;
  position: relative; }

.wrapper {
  flex-direction: column; }

#first_section {
  align-items: center;
  display: block;
  overflow: hidden; }

#video1 {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%; }

#wrapper_question {
  height: 0;
  width: 0;
  display: flex;
  position: relative;
  opacity: 0;
  overflow: hidden;
  transition: 1s opacity; }

.content {
  height: 0;
  font-size: 2em;
  overflow: hidden;
  width: 0;
  opacity: 0;
  transition: 0.5s opacity; }

.circle {
  height: 1.5em;
  width: 1.5em;
  border-radius: 3em;
  margin: 10px;
  border-color: #40c4e0;
  border-style: solid;
  border-width: 1px; }

#content_2 {
  flex-direction: column; }

.selected {
  background-color: #40c4e0 !important; }

.shadow {
  height: 10px;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 200%; }

.questions {
  position: relative;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  height: 0;
  width: 0;
  overflow: hidden;
  opacity: 0;
  font-size: 3em;
  transition: 2s opacity; }

.appear {
  height: 100% !important;
  width: 100% !important;
  opacity: 1 !important; }

#before {
  background-image: url("../img/flecha-izquierda-negro.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  background-position: 50% 50%;
  width: 50px; }

#after {
  width: 50px;
  background-image: url("../img/flecha-derecha-negro.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  background-position: 50% 50%; }

/*# sourceMappingURL=app.css.map */
